/* 헤더 스타일 */

.header-wrapper{
    background-color: rgb(255, 255, 255);
}

.header-icon{
    width:60px;
    height:60px;
    border:none;
    background:none;
    color:rgb(99, 114, 131);
}

.header-icon-name{
    white-space: nowrap;
    padding-top : 10px;
    font-size: 0.9rem;
}