@import './reset.css';

body{
    background-color:#f3f5f6 !important;
    font-size:14px;
}

.link-to-path {
    color: #000;
}

/* #modal-root{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
} */

.modalRoot{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index:999;
}

/* 근무 시간 컴포넌트 스타일 */

.container-wrap{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgb(20 20 20 / 2%) 2px 8px 12px 0px, rgb(20 20 20 / 2%) 0px 1px 3px 0px;
    /* padding:3rem;
    margin : 0 0 2rem 0; */
}

.work-detail-wrapper{

}

.emoji{
    font-size:2rem;
}

.work-detail-time{
    font-size:1.2rem;
    font-weight: bold;
}

.work-detail-title{
    font-weight: bold;
    color:rgb(99, 114, 131);
}

.work-total-time{
    font-size:3rem;
    padding:0 2rem 0 0;
}

.work-detail-subtitle{
    font-size : 0.9rem;
    color:rgb(99, 114, 131);
}

.work-list-wrap{
    width:100%;
}

.custom-button-div {
    width: 100%;
    background: #fff;
    border: none;
    color: black;
}

.custom-button-div:hover {
    width: 100%;
    background: #fff !important;
    border: none !important;
    color: black !important;
}

.work-list-date{
    flex:1;
}

.text-align {
    text-align: left;
}

.work-list-workingTime{
    flex:4;
    position:relative;
}

.workingTime-emoji{
    
}

.workingTime-workType{
    box-shadow: rgb(99 114 131 / 24%) 0px 0px 0px 1px inset, rgb(0 0 0 / 2%) 0px 1px 2px;
    border-radius: 6px;
}

.workingTime-workType-text{
    font-size:0.8rem;
    color:rgb(99, 114, 131);
    
}

.workingTime-time{
    
}

.workingTime-time-modify{
    position:absolute;
    right:0;
}

.work-list-add{
    color:rgb(0, 112, 209);
}

.work-lists-wrap.modify{
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: rgb(20 20 20 / 16%) 4px 12px 24px 0px, rgb(20 20 20 / 8%) 0px 2px 4px 0px;
    background-color: #fff;
    border-radius: 12px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.work-list-content{
    padding: 2rem;
}

.work-modify-close-wrap{
    border-top: 1px solid rgba(99, 114, 131, 0.1);
    padding: 1rem 2rem 0rem 2rem;
}

.work-modify-closeBtn{
    color:rgb(99, 114, 131);
    font-size: 0.9rem;
}

/* vacation modal style */
.apply-vacation-wrap{
    width: calc(100% - 72px);
    height: 85vh;
    max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apply-vacation-inner{
    background-color:#fff;
    box-shadow: rgb(20 20 20 / 16%) 4px 16px 36px 0px, rgb(20 20 20 / 12%) 0px 4px 8px 0px;
    border-radius: 16px;
    width:100%;
    height:100%;
    /* position: relative; */
}

.apply-vacation-inner-left{
    flex:7;
    border-right:1px solid rgba(99, 114, 131, 0.16);
    padding: 3rem;
    position: relative;
}

.vacation-list-wrap{

}

.vacation-lists{
   
}

.vacation-list-item{
    width:100%;
}

.vacation-list-date{
    width:100%;
}

.vacation-list-date-text{
    position : relative;
    display: flex;
    align-items: center;
    padding-left:2rem;
    width:100%;
}

.vacation-list-date-text::before{
    content: '';
    width:10px;
    height:10px;
    position:absolute;
    left:0;
    background-color: rgb(197, 204, 211);
    border-radius: 100%;
    display: inline-block;
}

.apply-vacation-inner-right{
    flex:3;
    padding: 3rem;
    background-color: rgba(99, 114, 131, 0.03);
}

.apply-vacation-title{

}

.vacation-type-select {
    width:30% !important;
}

.vacation-title-text{
    font-size:2rem;
    font-weight: bold;
    margin-left : 1rem;
}

.apply-vacation-datePick{
    
}

.vacation-name{
    
}

.apply-vacation-inner-close{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid rgba(99, 114, 131, 0.16);
    padding: 2rem;
}

.apply-vacation-btn{
    background-color:rgb(8, 126, 247);
    color:#fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px 0px;
    padding:0.5rem 1rem;
    margin-left: 1rem;
}

.drop-down-menu{
    width:7rem;
}

.apply-subject-wrap{
    margin-bottom:2rem;
}

.apply-subject-step{
    border:1px solid rgb(237, 240, 242);
    background-color: rgb(255, 255, 255);
}

.apply-subject-title{
    font-size:0.9rem;
    color:rgb(58, 80, 100);
}

.apply-subject-btn{
    padding-left:0 !important;
    padding-right:0 !important;
}

.apply-subject-plus{
    display: flex;
    align-items: center;
}

.plus-icon-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 2px 0px, rgb(0 0 0 / 12%) 0px 0px 0px 1px inset;
}

.plus-icon{
    display: inline-block;
    color: rgb(0, 112, 209);
}

.apply-subject-txt{
    color: rgb(0, 112, 209);
    margin-left: 1rem;
}

.apply-add{
    margin-bottom:2rem;
}

.apply-add-wrap{
    background-color: rgba(58, 80, 100, 0.07);
    width:100%;
    border-radius: 10px;
    padding:5px 0;
}

.apply-add-step{
    
}


/* user component style */
.company-wrap{
    padding:2rem 0;
}

.setting-icon-wrap{
    box-shadow:rgb(0 0 0 / 2%) 0px 1px 2px 0px, rgb(0 0 0 / 12%) 0px 0px 0px 1px inset;
    border-radius: 6px;
    padding:5px;
}

.setting-icon{
    font-size: 1.5rem;
    color: rgb(139, 152, 167);
}

.user-wrap-left{
    width:48%;
    min-height:600px;
    background-color: #fff;
    border-radius: 12px;
}

.user-table-wrap{
    font-size: 0.9rem;
}

.user-table-job{
    position:relative;
    padding-left:2rem;
}

.user-table-job::before{
    content:'';
    width:5px;
    height:5px;
    background-color:rgb(139, 152, 167);
    border-radius: 100%;
    position:absolute;
    left:0; top:50%;
    transform:translateY(-50%);
}

.user-table-counts{
    background-color:rgba(99, 114, 131, 0.12);
    border-radius: 6px;
    padding:2px 5px;
    
}

.user-table-count{
    display: inline-block;
    font-weight: 600;
    
}

.user-wrap-right{
    width:48%;
    min-height:600px;
    background-color: #fff;
    border-radius: 12px;
}

.user-wrap-inner{
    /* width:50%;
    min-height:600px;
    background-color: #fff;
    border-radius: 12px; */
}

.user-search{
    flex:0;
}

.user-search-box{
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(58, 80, 100, 0.08);
}
.user-search-input{
    border:none;
    background:none;
    width:100%;
    margin-left: 1rem;
}

.user-total-count{
    font-size:0.9rem;
    color:rgb(99, 114, 131);
    border-bottom: 1px solid rgba(58, 80, 100, 0.08);
}

.user-thumb{
    width: 40px;
    height: 40px;
    background-color: rgb(119, 160, 212);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px inset;
    border-radius: 100%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-right:2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.user-thumb-text{
    display: inline-block;
    font-size:0.9rem;
}

.user-name{
    margin-right: 2rem;
}

.user-job{
    font-size:0.85rem;
    color:rgb(139, 152, 167);
}

.add-user-title{
    text-align : center;
    font-weight: bold;
}

.form-submit{
    width: 100%;
}

.add-user-wrap{
    background-color: #fff;
    padding:4rem;
}

.add-user-back {
    font-size: 20px;
}

.add-user-back-link {
    color :  black !important;
}

.add-user-back-text {
    font-weight: bold;
}

.add-user-btn {
    color : white !important;
}

.vacation-schedule {
    padding: 1.5rem;
    margin: 1rem 0;
    background-color:#eee;
}

.vacation-schedule-title{
    font-size:0.9rem;
}

.vacation-time{
    border:0.8px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.vacation-sub-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.vacation-badge-future {
    text-align: center;
    background-color:darkcyan;
    border-radius: 10px;
    color:#fff;
    padding:0 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacation-badge-past {
    text-align: center;
    background-color:rgb(138, 138, 138);
    border-radius: 10px;
    color:#fff;
    padding:0 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacation-badge-text {
    width:100%;
    font-size :0.8rem;
    display: inline-block;
}

.pending-list-group {
    flex-direction: initial !important;
}

.list-group {
    border-radius: 0 !important;
}

.list-group-item.active {
    color: black !important;
    border-color: black !important;
    border-width: 2px !important;
    background-color: inherit !important;
}

.pending-list-title {
    border-left : none !important;
    border-top : none !important;
    border-right : none !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.pending-list-wrap {
    margin: 1rem 0 !important;
}

.pending-list-item {
    padding: 1rem 2rem !important;
}

.pending-list-item-inner {
    display: flex;
    align-items: center;
    position: relative;
}

.pending-user-name {
    width: 3rem;
    height: 3rem;
    background-color: rgb(8, 126, 247);
    color: #fff;
    text-align: center;
    line-height: 3rem;
    border-radius: 100%;
    margin-right: 3rem;
}

.pending-request {
    margin-bottom: 0 !important;
}

.view-pending-content {
    position: absolute;
    right: 0;
}

.request-step-wrap {
    width: 100%;
    border-bottom: 1px solid rgba(99, 114, 131, 0.16);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
}

.requst-step-title {
    font-size: 0.9rem;
    margin-bottom: 0 !important;
}

.request-step {
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px solid rgb(8, 126, 247);
    color: rgb(8, 126, 247);
    margin-right: 1.5rem;
}

.default-text {
    font-size:0.8rem;
    color:#a2a2a2;
    margin-bottom:0 !important;
    line-height: 1.3rem;
}

.request-vacation-duedate {
    position:relative;
    padding-left: 1.5rem !important;
    line-height:1.5rem;
    font-size:0.8rem;
}

.request-vacation-duedate::before {
    content: '';
    width:6px;
    height:6px;
    background-color:#c2c2c2;
    border-radius: 100%;
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
}

/* mypage style */
.mypage-left-wrap {
    border-right: 1px solid #dee2e6;
}

.custom-hr-tabheader {
    flex-direction: column !important;
}

.custom-hr-tabcontents {
    position: absolute;
    right: 0;
    top: 0;
    width: 66.66666667%;
    padding: 2rem;
    height: 100%;
}

.hr-information-wrap {
    position: relative;
}

.custom-hr-tablist {
    border: none !important;
}
.custom-hr-tablist.active {
    border: none !important;
    color : rgb(8, 126, 247) !important;
}

.mypage-left-wrap {
    padding: 2rem;
}

.hr-information-thumb {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(8, 126, 247);
    text-align: center;
    line-height: 60px;
    color: #fff;
    margin: 0 auto;
    font-size: 1.2rem;
}

.hr-information-profile {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr-information-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-tooltip{
    margin:0 1rem;
    font-size: 1.5rem;
}

.hr-information-tabmenu {
    margin-top: 5rem;
}

.hr-information-icon {
    font-size: 1.2rem;
    margin: 0 1rem;
}

.hr-content-title{
    margin-bottom: 0 !important;
    padding: 1rem 0;
}

.hr-content-modify-btn{
    font-size:1.2rem;
    margin-right:2rem;
}

.form-control {
    font-size: 0.8rem !important;
}

.hr-form {
    margin:1rem 0 3rem 0 ;
}

.hr-top-content {
    height:35%;
}

.hr-bottom-content {
    height: 65%;
}

.hr-contents {
    height: 100%;
}

.vacation-type {
    font-size: 1rem;
    font-weight: 600;
    color: #888888;
    margin-right: 2rem;
}

.vacation-progress {
    
    padding: 0 0.8rem;
    border: 2px solid #a5a5a5;
    border-radius: 15px;
    margin-right: 4rem;
}

.vacation-used-time {
    
    padding: 0 1rem;
    background: #ddd;
    border-radius: 15px;
    margin-right: 1rem;
}